<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Сервер на Go</title>
</head>
<body>
<h1>Добрый день, {username}!</h1>
<p>Ваш баланс: {balance} р.</p>
<p><a href="/operations.csv">Выгрузить операции в CSV формате</a></p>
<p><a href="/operations.json">Выгрузить операции в JSON формате</a></p>
<p><a href="/operations.xml">Выгрузить операции в XML формате</a></p>
</body>
</html>
